
$c-red: #cb001d;


$c-black: #000;
$c-white: #fff;
$c-orange: #d79a2b;

$c-gray-f2: #f2f2f2;
$c-gray-f5: #f5f5f5;
$c-gray-eb: #ebebeb;
$c-gray-89: #898989;
$c-gray-e5: #e5e5e5;
$c-gray-menu-border: #4d556d;

$c-blue: #162d59;
$c-blue-darker: #151a39;
$c-blue-header: #152a3f;

$c-footer-darker: #303036;
$c-footer-dark: #35353c;

$c-bluewhale: #131e29;
//$c-midnight-text: #1f2934;

$c-text: $c-blue;
$c-back: $c-white;

$c-cta: $c-orange;
$c-selection: rgb(252, 252, 252);

// $colors-list: (red, gray, blue, midnight);
// $colors-map: (red: $c-red, gray: $c-gray, blue: $c-blue, midnight: $c-midnight);
