/* Example of use is at the bottom of file */

@mixin rtl  {

  html[dir=rtl] & {
    @content;
  }
}

/*

  Example:

    div {
      float: left;

      @include rtl() {
        float: right;
      }
    }

  Result:

    div {
      float: left;
    }

    html[dir=rtl] div {
      float: right;
    }

*/